.CartWidget {
    display: flex;
    margin-right: 40px;
}

.logoimagen {
    margin-left: 20px;
}

#root {
    background-color: #F8F0E5;
}

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #EADBC8;
    margin: 0;
    padding: 30px;
}

.loader {
    text-align: center;
    padding: 100px;
}

.card-img-top {
    margin-top: 15px;
}

.btn-primary {
    margin-left: 5px;
}
